/* Custom Stylesheet for various elements not already styled with
 * ResponsiveGridSystem.
 * Author: Robert Rotaru
 */

#post-image {
  float:left; 
  margin:1em; 
}

#jobs-image {
  float:left;
  margin:1em;
}

#blurb {
  clear:both; 
  padding: 0 0 0 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#promoted_container {
  position: relative;
  z-index: 1;
  height: 200px;
  margin-bottom: 1em;
  -webkit-perspective: 1000px;
}

#promoted_container:hover {
  -webkit-box-shadow: 5px 5px 5px #aaa;
  background: rgba(235, 235, 235, 0.85);
}


#profile .face{
  height: 88px;
}

#post_container {
  border: 1px solid white; 
  margin: 1em;
}

.profile {
  height: 225px;
}

#search-post {
  border: 5px solid white;
}

#search-profile {
  border: 5px solid white;
  text-align: center;
}

.post.content {
  height: 83%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post.title {
  margin: 0.5em 0.5em 0 0;
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.promo.title {
  margin: 0.5em 0.5em 0 0;
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#jobs_container {
  z-index: 1;
  height: auto;
}
#jobs_container {
  height: 200px;
  border: 5px solid white;
}
#jobs_card {
  width: 100%;
  height: 100%;
}
.jobs.title {
  margin: 0.5em 0.5em 0 0;
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#maincontent .col {
	background: #ccc;
	background: rgba(245, 245, 245, 0.85);
}

#nav {
  text-align: center;
}

#nav .col input {
  height: 0.7em;
}

#nav #search {
  background: none;
}

#desc .col {
  background: none;
  margin-bottom: 0px;
}

#title-href {
  color: black;
}

.search-content {
  padding: 1em;
}
td {
  vertical-align: top;
  padding: 0 0 0 1em;
}
input {
  width: 90%;
}

#login input {
  float: left;
  width: 25%;
  height: 8px;
  margin: 0 3em 0 0;
  vertical-align: bottom;
  
}

#login label {
  float: left;
  width: 3em;
  vertical-align: top;
}
